@charset "UTF-8";


/*Medium devices - TABLET */
@media only screen and (min-width: 768px) {
    span#burguer{
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }
    picture > img{
        width: 90vw;
    }
    .border{
        border-right: 2px solid #EE7BAF;
    }
}  

