@charset "UTF-8";

:root{
    --cor1: #DD298F;
    --cor2: #98C947;
    --cor3: #EE7BAF;
    --cor4: #40A550;
    --cor5: #F2668F;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    color: rgb(72, 72, 72);
}

body, html{
    background-color: rgb(255, 255, 255);
    min-height: 400px;
}

header > img{
    width: 20vw;
    display: block;
    margin: auto;

}
span#burguer{
    display: block;
    color: #DD298F;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#burguer:hover{
    background-color: #DD298F;
    color: rgb(255, 255, 255);
}
menu#itens{
    display: block;
    margin: auto;
}
.menu{
    text-align: center;
}
.menu-item{
    display: inline-block;
}
menu > ul{
    list-style: none;
}
menu > ul > li > a{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    
    color: #DD298F;
    border-right: 2px solid #EE7BAF;
}
menu > ul > li > a:hover{
    background-color:#DD298F ;
    color: white;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}
picture > img{
    width: 70vw;
    display: block;
    margin: auto;
}
article > h1{
    padding-bottom: 20px;
    text-align: center;
    color: #DD298F;
}
article > p{
    text-align: center;
    margin-bottom: 20px;
    text-indent: 20px;
}

.flip-container {
    display: inline-block;
    width: 300px;
    height: 250px;
    perspective: 1000px;
  }
.flip-container:hover .flipper{
	transform: rotateY(180deg);
	/* se quiser uma animação na vertical,
	troque por rotateX(180deg)
	*/
}  
.flipper{
    
    position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
    
}
img{
    display: block;
    margin: auto;
    width: 45vw;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back{
	transform: rotateY(180deg);
}
#switch{
	display: none;
}
#switch:checked ~ .flip-container .flipper {
    transform: rotateY(180deg);
  }
  
footer{
    background-color: #DD298F;
    border-top: 5px solid #EE7BAF;
    padding: 8px;
}
footer > p{
    color: white;
    text-align: center;
    padding: 1px;
}