@charset "UTF-8";
:root{
    --cor1: #DD298F;
    --cor2: #98C947;
    --cor3: #EE7BAF;
    --cor4: #40A550;
    --cor5: #F2668F;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    color: rgb(72, 72, 72);
}

body, html{
    background-color: rgb(255, 255, 255);
}

header > img{
    display: block;
    margin: auto;

}
span#burguer{
    display: block;
    color: #DD298F;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#burguer:hover{
    background-color: #DD298F;
    color: rgb(255, 255, 255);
}
menu > ul{
    list-style: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    
    color: #DD298F;
    border-right: 2px solid #EE7BAF;
}
menu > ul > li > a:hover{
    background-color:#DD298F ;
    color: white;
}
img#phone{
    max-width: 600px;
    display: block;
    margin: auto;
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}
article > h1{
    padding-bottom: 20px;
    text-align: center;
    color: #DD298F;
}
article > p{
    text-align: center;
    margin-bottom: 20px;
    text-indent: 20px;
}
img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#desktop {display: none;}
img#tv {display: none;}